$primary-color: #FF7A45;
$primary-gradient: linear-gradient(90deg, #FF7A45 0%, #FF9F43 100%);
$secondary-color: #7DDEB1;
$secondary-gradient: linear-gradient(90deg, #7DDEB1 0%, #43B97F 100%);
$accent-color: #7DDEB1;
$star-color: #ffcd29;
$hover-color: #FF9F43;
$main-font: 'Helvetica Neue';
$second-font: "Helvetica Neue";