@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-Bold-02.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-Medium-11.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-Light-08.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-Thin-13.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/frontend/core/fonts/Helvetica Neue/HelveticaNeue-Italic-03.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
